* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cointener {
  width: 1320;
  margin: auto;
  background-color: rgb(88, 130, 209);
  height: 100vh;
}

.main {
  padding-top: 300px;
  margin-left: 700px;
}

h1 {
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin-bottom: 18px;
  font-weight: 600;
  padding-left: 69px;
}
#input {
  width: 350px;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid rgb(171, 167, 167);
}

#btn {
  padding: 13px 40px;
  border-radius: 5px;
  text-decoration: none;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  background-color: cornflowerblue;
  font-size: 17px;
  border: 1.5px solid rgb(69, 126, 233);
}
.btn {
  margin-top: 25px;
  margin-bottom: 80px;
  padding-left: 120px;
}

.main2 {
  padding-top: 300px;
  margin-left: 700px;
  display: none;
}

h2 {
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin-bottom: 18px;
  font-weight: 600;
  padding-left: 69px;
}
#input2 {
  width: 350px;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid rgb(171, 167, 167);
}

#btn2 {
  padding: 13px 40px;
  border-radius: 5px;
  text-decoration: none;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  background-color: cornflowerblue;
  font-size: 17px;
  border: 1.5px solid rgb(69, 126, 233);
}
.btn2 {
  margin-top: 25px;
  margin-bottom: 80px;
  padding-left: 120px;
}
#eror {
  margin-left: 628px;
  font-size: 40px;
  text-align: start;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
